<html>

<head>
    <meta charset="utf-8">
    <title>Article!</title>
    <link rel="stylesheet" href="/styles/lib/bootstrap.min.css" />

</head>

<body>


 


    <div class="container">
        <br/>
        <div class="jumbotron">
            <div class="page-header">
                <h1>Admin Panle<br/><small>Be careful!</small></h1>
            </div>

            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row atc-item">
                            <div class="col-md-3 cover">
                                <a href="#" class="thumbnail">
                                    <img src="/img/1427517599075.jpg" alt="...">
                                </a>
                            </div>
                            <div class="col-md-9 atc-context">
                                <h3>h3. Bootstrap heading <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></h3>
                                <hr class="hr" />
                                <div class="atc-text">
                                    ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                                </div </div>

                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>







                <div class="page">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous page-pre">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next" class="page-next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


                </div>
                </div>
            </div>

</body>

<script src="/scripts/lib/bootstrap.min.js"></script>

</html>
