<html>

<head>
    <title>Editor</title>
    <link rel="stylesheet" href="/styles/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/editor.css" />


</head>

<body>
<div class="upload-cover"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><p>Cover Img</p></div>
    <br/>

<div class="container">

    <div class="jumbotron art-container">
<div class="page-header">
  <h1>Editor <small>write the daily!</small></h1>
</div>
        <div class="container">
            <div>
                <form id="uploadForm" enctype="multipart/form-data" action="/admin/ulimg" method="post">
                    <input type="file" name="userPhoto" id="file" />
                    <input type="submit" value="Upload Image" name="submit" id="ulbutton">
                </form>
            </div>

           


          
                <input type="text" name="art-title" class="title-input" maxlength="14" autofocus placeholder="Title" />
                <br/>
                <br/>
                   <div class="cover-img"></div>
       
            <div id="editor">
                <p>sdesdssssssssssssssssss</p>
            </div>
        </div>
    </div>
</div>


    <script src="/scripts/lib/jquery.js"></script>
    <script src="/scripts/lib/bootstrap.min.js"></script>
    <script src="/scripts/lib/aloha.min.js"></script>
    <script src="/scripts/editor.js"></script>
</body>

</html>
