<html>
  
  <head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
 <link rel="stylesheet" href="/styles/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/panel.css" />

  </head>
  
  <body>
    <div class="container">
      <br/>
      <div class="jumbotron">
       <div class="page-header">
         <h1>Admin Panle<br/><small>Be careful!</small></h1>
       </div>

       <div>
         <ul class="list-group">
           <li class="list-group-item"><div class="atc-item">sdsd</div></li>
           <li class="list-group-item"><div class="atc-item">sdsd</div></li>
           <li class="list-group-item"><div class="atc-item">sdsd</div></li>
           <li class="list-group-item"><div class="atc-item">sdsd</div></li>
           <li class="list-group-item"><div class="atc-item">sdsd</div></li>
</ul>
       </div>
      </div>
    </div>
    
  </body>
  
    <script src="/scripts/lib/jquery.js"></script>
    <script src="/scripts/lib/bootstrap.min.js"></script>
    <script src="/scripts/lib/aloha.min.js"></script>
    <script src="/scripts/editor.js"></script>
  
</html>


